extends template.pug

block pagecontent
    div
        ul
            each val in posts
                li
                    div
                        b= val.title
                    div
                        i= val.creator
                    div= val.content
                    br

