html
    head
        title= title
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    body
        div(class="container")
            h1 AnswerBay

            script(src="js/pages.js")

            button(type="button", onclick="setIndex()", href="/", class="btn btn-link") Home
            button(type="button", onclick="setPosts()", href="/posts", class="btn btn-link") Posts
            button(type="button", onclick="setCreate()", href="/create", class="btn btn-link") Create

            p
                block pagecontent
        